<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<elmah>
		<security allowRemoteAccess="yes" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ioschoolsConnectionString" applicationName="lodge" />
	</elmah>
	<connectionStrings>
		<add name="ioschoolsConnectionString" connectionString="Data Source=;Database=;User ID=;Password=;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
        <trace enabled="false" localOnly="true" />
        <httpCookies httpOnlyCookies="true" />
		<globalization uiCulture="en" culture="en-NZ" />
		<sessionState mode="Off" timeout="20"></sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<authentication mode="None">
		</authentication>
		<membership>
			<providers>
				<clear />
			</providers>
		</membership>
		<profile enabled="false">
		</profile>
		<roleManager enabled="false">
		</roleManager>
		<httpRuntime maxRequestLength="10000" executionTimeout="600" requestValidationMode="2.0" />
		<customErrors mode="Off" defaultRedirect="/Error">
			<error statusCode="404" redirect="/Error/NotFound" />
		</customErrors>
		<pages enableViewState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="path" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler" />
			<add name="Elmah" verb="POST,GET,HEAD" path="path" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<caching>
			<profiles>
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
			</profiles>
		</caching>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpErrors>
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/Error/NoPermission" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/Error" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/Error" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
