@{ 
    Layout = "~/Views/Shared/_Internal.cshtml";
}

@section TitleContent {

	An error has occurred

}



    <h2>An error has occurred</h2>
    <p>@ViewData["message"]</p>


@section ExtraHeader {


}

