<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ioschools.DB.Properties.Settings.ioschoolsConnectionString"
            connectionString="Data Source=(local);Database=;User ID=;Password=;" />
        <add name="ioschools.DB.Properties.Settings.tConnectionString"
            connectionString="Data Source=(local);Initial Catalog=;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>