<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ioschools.DB.Properties.Settings.ioschoolsConnectionString"
            connectionString="Data Source=(local);Database=ioschools;User ID=ioschools;Password=ioschools;" />
        <add name="ioschools.DB.Properties.Settings.tConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ioschools;Persist Security Info=True;User ID=ioschools;Password=ioschools"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
