
@using ioschools.Data.User
<ul id="mainnav">
    <li><a id="nhome" class="navlink"><span>Users</span></a>
        <ul>
            <li><a href="/dashboard">Search</a></li>
            <li><a href="/dashboard/statistics">Statistics</a></li>
        </ul>
    </li>
    <li><a id="nschedule" href="/schedule"><span>Schedule</span></a> </li>
    <li><a id="nexams" class="navlink"><span>Grades</span></a>
        <ul>
            <li><a href="/exams">Exam Records</a></li>
            <li><a href="/exams/templates">Exam Templates</a></li>
        </ul>
    </li>
    <li><a id="nenrolment" href="/enrolment"><span>Enrolment</span></a></li>
    <li><a id="nfinance" href="/finance"><span>Finance</span></a></li>
    <li><a id="nadmin" class="navlink"><span>Admin</span></a>
        <ul>
            <li><a href="/admin">System Configuration</a></li>
            <li><a href="/blog">Circulars / News</a></li>
            <li><a href="/calendar/admin">School Calendar</a></li>
            <li><a href="/homework">Homework</a></li>
            <li><a href="/leave">Staff Leave</a></li>
        </ul>
    </li>
</ul>

