@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}


@section TitleContent {

    Fees
}

    <div class="nav_side mt20">
        <ul>
            <li><a href="/admission">Admission</a></li>
            <li><a class="selected" href="/fees">Fees</a></li>
            <li><a href="/uniforms">Uniforms</a></li>
        </ul>
    </div>
    <div class="col_2 ml20 mt10">
        <div class="breadcrumb">
            <a href="/">Home</a> / Fees
        </div>
        <h1>
            Fees</h1>
            <h3></h3>
            <table class="table_blue">
            <thead>
            <tr>
            <td colspan="2">Registration Fee (Non-Refundable / Non-Transferable)  -  Payable Only Once</td>
            </tr>
            </thead>
            <tbody>
            <tr><td>Kindergarten</td><td>RM 250.00 per admission</td></tr>
            <tr><td>Primary</td><td>RM 500.00 per admission</td></tr>
            <tr><td>Secondary</td><td>RM 500.00 per admission</td></tr>
            <tr><td>International</td><td>RM 500.00 per admission</td></tr>
            </tbody>
            </table>
            <p class="icon_note">The Registration Fee is only refundable when the School is unable to offer a place to a child on or before
31 January of each year or a child is not admitted on account of him failing the assessment test.</p>
            <p>Parents whose children are admitted to  Group of Schools shall automatically become members of the  School
Association and have to pay a membership fee (Refundable) as per scheduled below.</p>
<table class="table_blue">
            <thead>
            <tr>
            <td colspan="4"> School Association Membership Fee (Refundable)</td>
            </tr>
            </thead>
            <tbody>
            <tr class="bold"><td></td><td>Kindergarten<sup>*</sup></td><td>Primary</td><td>Secondary</td></tr>
            <tr><td>First Child</td><td>RM 4,500.00</td><td>RM 6,500.00</td><td>RM 8,500.00</td></tr>
            <tr><td>Second Child</td><td>RM 3,000.00</td><td>RM 3,000.00</td><td>RM 3,000.00</td></tr>
            <tr><td>Third Child</td><td>RM 2,000.00</td><td>RM 2,000.00</td><td>RM 2,000.00</td></tr>
            <tr><td>Fourth Child</td><td>Nil</td><td>Nil</td><td>Nil</td></tr>
            </tbody>
            <tfoot>
            <tr><td colspan="4">
            <table><tr><td><sup>*</sup></td><td>Effective 2011, initial deposit for Kindergarten A shall be at RM1,000.00 for 1st, 2nd or 3rd child.
Those in Kindy B & C shall be as above</td></tr>
<tr><td><sup>**</sup></td><td>Status of Child in School will be based on biological age.</td></tr>
</table>
</td></tr>
            </tfoot>
            </table>
            <table class="table_blue"><thead><tr><td>Assessment Fee (Non-Refundable)</td></tr>
            </thead>
            <tbody>
            <tr><td>A fee of RM100.00 to be paid by students who have to sit for written assessment tests before admission into the School.</td></tr>
            </tbody>
            </table>

            <table class="table_blue"><thead><tr><td colspan="3">School Fees (Non-Refundable)</td></tr>
            </thead>
            <tbody>
            <tr><td></td><td class="bold">Per Term x 4</td><td class="bold">Per Year</td></tr>
            <tr><td colspan="3" class="bold">Kindergarten</td></tr>
            <tr><td>Kindy A - C</td><td>RM 750.00</td><td>RM 3,000.00</td></tr>
            <tr><td colspan="3" class="bold">Primary School</td></tr>
            <tr><td>Tahun 1 - 3</td><td>RM 950.00</td><td>RM 3,800.00</td></tr>
            <tr><td>Tahun 4 - 6</td><td>RM 900.00</td><td>RM 3,600.00</td></tr>
            <tr><td colspan="3" class="bold">Secondary School</td></tr>
            <tr><td>Tingkatan 1 - 2</td><td>RM 1,110.00</td><td>RM 4,440.00</td></tr>
            <tr><td>Tingkatan 3</td><td>RM 1,270.00</td><td>RM 5,080.00</td></tr>
            <tr><td>Tingkatan 4</td><td>RM 1,550.00</td><td>RM 6,200.00</td></tr>
            <tr><td>Tingkatan 5</td><td>RM 1,660.00</td><td>RM 6,640.00</td></tr>
            <tr><td colspan="3" class="bold">International School</td></tr>
            <tr><td>Year 2 - 6</td><td>RM 1,210.00</td><td>RM 4,840.00</td></tr>
            <tr><td>Year 7 - 8</td><td>RM 1,530.00</td><td>RM 6,120.00</td></tr>
            <tr><td>Year 9</td><td>RM 1,850.00</td><td>RM 7,400.00</td></tr>
            <tr><td>Year 10 - 11 ( &#39;O&#39; Level )</td><td>RM 2,720.00</td><td>RM 10,880.00</td></tr>
            <tr><td>Year 12 - 13 ( &#39;A&#39; Level )</td><td>RM 3,000.00 (Per Term x 6)</td><td>RM 
                18,000.00 (whole course)</td></tr>
            </tbody>
            </table>

            <table class="table_blue"><thead><tr><td colspan="3">Miscellaneous Fees (Non-Refundable)</td></tr>
            </thead>
            <tbody>
            <tr><td></td><td class="bold">Per Term x 4</td><td class="bold">Per Year</td></tr>
            <tr><td>Kindergarten</td><td>RM 170.00</td><td>RM 680.00</td></tr>
            <tr><td>Primary School</td><td>RM 150.00</td><td>RM 600.00</td></tr>
            <tr><td>Secondary School</td><td>RM 150.00</td><td>RM 600.00</td></tr>
            <tr><td>International School</td><td>RM 150.00</td><td>RM 600.00</td></tr>
            </tbody>
            </table>


            <h2 class="icon_note">Notes</h2>
            <ul class="circle lb10">
            <li>A five percent (5%) penalty will be imposed on all late payment.</li>
<li>Cheques are to be crossed and made payable to PERSATUAN SEKOLAH LODGE.</li>
<li>A three percent (3%) discount will be given if the whole year school and miscellaneous fees are paid on or before
31 January of each year.</li>
<li>A student who has not paid his/her fees plus late payment interest, 2 weeks after the payment due date will not be
allowed to attend classes until the said amount is fully settled.</li>
<li>Students who have been offered confirmed places at Kindergarten A, Primary 1, Form 1 and Form 4 must pay one
term school fee which will be forfeited should the child withdraw.</li>
<li>Parents wishing to withdraw a student from School must give one (1) month's notice in writing of the intended
withdrawal, otherwise an additional full term's fee will be charged.</li>
<li>Subject to paragraph 6.6 above, a student who leaves School before mid-term shall be eligible for the refund of
half a term's fee. A student who leaves after mid-term shall not be eligible for refund of any portion of the school
fee for that term.</li>
<li>The School Committee reserves the right to change and amend the fees payable as and when necessary.</li>
            </ul>
    </div>


