@{
    Layout = "~/Views/Shared/_Internal.cshtml";
}
@model ioschools.Models.exam.templates.TemplateListViewModel
@section TitleContent {
Exam Templates
}
@section ExtraHeader {

}

<div class="mt10">
    <div class="breadcrumb"><a href="/exams">Exams</a> > Exam Templates</div>
    <h2>Exam Templates</h2>
    <div class="info">
        <ul>
            <li><strong>Exam Templates</strong> are required to create <strong>Exam Records</strong> which stores exam/test results.</li>
            <li>Exam templates allows you to quickly create <strong>Exam Records</strong> for reoccurring tests.</li>
        </ul>
    </div>
    <div class="content_filter">
        <div id="schoolList" class="filter mt40">
            <h4 class="acc">
                Filter by school
            </h4>
            <select>
                <option value=''>All Schools</option>
                <option value="1">Kindergarten</option>
                <option value="2">Primary</option>
                <option value="3">Secondary</option>
                <option value="4">International</option>
            </select>
        </div>
    </div>
    <div class="main_columnright">
        <div class="mt10 mb10">
            <button id="templateAdd" type="button">
                <img class="am" src="/Content/img/icons/plus.png" /> new template
            </button>
        </div>
        <div id="template_content" class="bt">
            @Html.Partial("Content", Model.templates)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ioschools.util.setNavigation('#nexams', 'selected_link');
        if ($('select', '#schoolList').val() != '') {
            $('select', '#schoolList').trigger('change');
        }
    });

    $('select', '#schoolList').bind('change', function () {
        $(this).post('/exams/templates/Content/' + $(this).val(), function (result) {
            $('#template_content').html(result);
        });
    });

    $('#templateAdd').click(function () {
        window.location = '/exams/Templates/add';
    });

    $('.jqedit').die().live('click', function () {
        var row = $(this).closest('.exam_template_row');
        var id = $(row).attr('id');
        window.location = '/exams/Templates/edit/' + id;
        return false;
    });

    $('.jqdelete').die().live('click', function () {
        var ok = window.confirm('Are you sure you want to delete this template? There is NO UNDO.');
        if (!ok) {
            return false;
        }

        var row = $(this).closest('.exam_template_row');
        var id = $(row).attr('id');

        $(this).post('/exams/Templates/delete/' + id, function (json_result) {
            if (json_result.success) {
                $(row).fadeOut('fast', function () {
                    $(this).remove();
                });
            }
            $.jGrowl(json_result.message);
        }, 'json');

        return false;
    });
</script>


