
@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section TitleContent {

     Kindergarten - About

}

    <div class="nav_side mt20">
        <ul>
            <li><a href="/kindergarten">About</a></li>
            <li><a class="selected" href="/kindergarten/afterschool">After School Care</a></li>
        </ul>
    </div>
    <div class="col_2 ml20 mt10">
        <div class="breadcrumb">
            <a href="/">Home</a> / <a href="/Schools">Schools</a> / <a href="/kindergarten/">Kindergarten</a>
            / After School Care
        </div>
        <h1>
            After School Care</h1>
        <p>
            This service is provided for the convenience of parents whereby their children can stay 
            back with our Kindergarten teachers immediately after school and it ends at 4.30 pm.
        </p>
        <table class="table_side">
            <tr>
                <td colspan="2">
                    Monday to Friday
                </td>
            </tr>
            <tr>
                <td>
                    Kindy A
                </td>
                <td>
                    12.00 - 4.30 pm
                </td>
            </tr>
            <tr>
                <td>
                    Kindy B
                </td>
                <td>
                    12.30 - 4.30 pm
                </td>
            </tr>
            <tr>
                <td>
                    Kindy C
                </td>
                <td>
                    12.45 - 4.30 pm
                </td>
            </tr>
        </table>
        <h2>Fees</h2>
        <p>Food provided is non-halal. A late fee of RM10.00 will be charged for every half an  hour after 4.30 pm.</p>
        <table class="table_side">
            <tr>
                <td>
                    Option 1
                </td>
                <td>
                    RM500.00 per term including lunch
                </td>
            </tr>
            <tr>
                <td>
                    Option 2
                </td>
                <td>
                    RM400.00 per term excluding lunch
                </td>
            </tr>
        </table>
    </div>


