
<tr><td><input type="text" name="sibling_name" id="sibling_name" class="w300px" /></td>
<td>
    <input type="text" name="sibling_nric" id="sibling_nric" />
</td><td class="am"><div class="hover_delete"></div></td></tr>

