@model IEnumerable<ioschools.Models.blog.BlogSummary>
<h2 class="bb mb10 bold">
            Upcoming events</h2>
            @foreach (var entry in Model)
{
  <div class="item">
            <div class="date">
                @entry.date
            </div>
            <div class="title">
                @entry.title</div>
        </div>
} 
<a class="mt10" href="/calendar">view calendar</a>
        
