
@using ioschools.Data
<p>There is a new online enrolment.</p>
<p>You can view enrolment details by following the link below:</p>
<p><a href="@Constants.HTTP_HOST/enrolment">@Constants.HTTP_HOST/enrolment</a></p>
<p>
 School Information System
</p>

