@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section TitleContent {

	Resources

}


<div class="body_content">
<div class="breadcrumb">
<a href="/">Home</a> / Resources
</div>
<h1>Resources</h1>
<div class="col_1">
<h2>Teachers Resources</h2>
<ul class="lb10">
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,31.0.html"><img src="/Content/img/resources/PPSMI.JPG" /></a></li>
<li><a target="_blank" href="http://www.eduwebtv.com/index7.php"><img src="/Content/img/resources/EDUWEBTV.jpg" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,39.0.html"><img src="/Content/img/resources/ictlm.jpg" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,577.0.html"><img src="/Content/img/resources/latihtubi.jpg" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,360.0.html"><img src="/Content/img/resources/mygfl.jpg" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,882.0.html"><img src="/Content/img/resources/banner-linus.gif" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,349.0.html"><img src="/Content/img/resources/ictban.jpg" /></a></li>
<li><a target="_blank" href="http://forum.engkabang.net/index.php/board,405.0.html"><img src="/Content/img/resources/gems.gif" /></a></li>
</ul>
</div>
</div>



