@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section TitleContent {

    Extracurricular Activities
}
@section ExtraHeader {

    <style type="text/css">
        .style1 {
            background-color: #F7F7F7;
        }
    </style>

}

    <div class="nav_side mt20">
        <ul>
            <li><a href="/primary">About</a></li>
            <li><a class="selected" href="/primary/eca">Extracurricular Activities</a></li>
        </ul>
    </div>
    <div class="col_2 ml20 mt10">
        <div class="breadcrumb">
            <a href="/">Home</a> / <a href="/Schools">Schools</a> / <a href="/primary/">Primary</a>
            / Extracurricular Activities
        </div>
        <h1>
            Extracurricular Activities</h1>
        
    </div>


