
@{ 
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section TitleContent {

     International - About

}

    <div class="nav_side mt20">
        <ul>
            <li><a class="selected" href="/international">About</a></li>
            <li><a href="/schools/eca">Extracurricular Activities</a></li>
        </ul>
    </div>
    <div class="col_2 ml20 mt10">
        <div class="breadcrumb">
            <a href="/">Home</a> / <a href="/Schools">Schools</a> / <a href="/international/">International</a>
            / About
        </div>
        <h1>
             International</h1>
        <div class="img_border w700px">
            <div class="slider w700px" style="height:300px;">
        <img src="/Content/img/schools/international/about1.jpg" alt="" />
        <img src="/Content/img/schools/international/about2.jpg" alt="" />
    </div>
    </div>
        <p class="mt10">
             International School caters for students in the British National Curriculum
            from Year 2 (age 7) through the Cambridge International Advanced Level (age 16 and
            above). All course textbooks are sourced from the UK.
        </p>
        <p>
            At the Lower and Middle School levels, from Year 2 to Year 9, the subjects offered
            are English, Mathematics, Science, history, Geography, Design and Technology, Information
            technology, Art and Design, Music and Physical Education. In addition to Bahasa
            Melayu (Malay), students have the option of studying Korean or Mandarin Chinese.
            All Malaysian students are to take Moral studies (Pendidikan Moral), Local Studies
            (Kajian Tempatan) in Year 5 and Year 6 and in Year 7 to Year 9, they are also required
            to study Malaysian Studies (Sejarah). Islamic Studies (Pengajian Agama Islam) are
            to be taken by all Muslim students.
        </p>
        <p>
            Students prepare for the University of Cambridge IGCSE and IGCE A level examinations
            in the Senior School. The subjects offered for the Senior School are as followed:
        </p>
        <table class="w500px">
            <tr>
                <td class="bold">
                    IGCSE
                </td>
                <td class="bold">
                    A Level
                </td>
            </tr>
            <tr>
                <td>
                    English as First /Second Language
                </td>
                <td>
                    English Literature
                </td>
            </tr>
            <tr>
                <td>
                    Biology
                </td>
                <td>
                    Biology
                </td>
            </tr>
            <tr>
                <td>
                    Physics
                </td>
                <td>
                    Physics
                </td>
            </tr>
            <tr>
                <td>
                    Chemistry
                </td>
                <td>
                    Chemistry
                </td>
            </tr>
            <tr>
                <td>
                    Coordinated Science
                </td>
                <td>
                    Geography
                </td>
            </tr>
            <tr>
                <td>
                    Geography
                </td>
                <td>
                    Psychology
                </td>
            </tr>
            <tr>
                <td>
                    Business Studies
                </td>
                <td>
                    Business Studies
                </td>
            </tr>
            <tr>
                <td>
                    Economics
                </td>
                <td>
                    Economics
                </td>
            </tr>
            <tr>
                <td>
                    Mathematics
                </td>
                <td>
                    Thinking Skills
                </td>
            </tr>
            <tr>
                <td>
                    Additional mathematics
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Information and Communication technology
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Art & Design
                </td>
                <td>
                </td>
            </tr>
        </table>
        <div class="img_border w250px fl mt20">
    <div class="slider" style="height:372px;width:250px;">
        <img src="/Content/img/schools/international/facility1.jpg" alt="" />
        <img src="/Content/img/schools/international/facility2.jpg" alt="" />
        <img src="/Content/img/schools/international/facility3.jpg" alt="" />
    </div></div>
    <div style="width: 430px;" class="fl ml10">
        <h3 class="mt20">
            Extra Curricular Activities (ECA)</h3>
        <p>
            A wide range of extra-curricular activities, which include sports, societies and
            intellectual pursuits take place after school. Students are expected to broaden
            their interests and skills by participating in theses activities. Mandarin is taught
            as an extra-curricular activities on Tuesday, Thursday and Saturday.
        </p>
        <p>
            On Fridays during Solat Jumaat (Friday Prayers), there is an opportunity to participate
            in religious clubs/societies where students have the chance to extend their knowledge
            and understanding of their religion
        </p>
        <h3 class="mt20">
            School hours</h3>
            <a name="hours"></a>
        <table class=" table_grey w500px ac">
        <thead>
        <tr>
                <td class="bold">
                    Primary School
                    <div>
                        (Year 2 – 6)</div>
                </td>
                <td class="bold">
                    Lower Secondary
                    <div>
                        (Year 7 – 9)</div>
                </td>
                <td class="bold">
                    Senior School
                    <div>
                        (Year 10 – 13)</div>
                </td>
            </tr>
        </thead>
        <tbody>
        <tr>
                <td>
                    8.00am to 3.30 pm
                </td>
                <td>
                    8.00 am to 3.30 pm
                </td>
                <td>
                    7.30 am to 4.00 pm
                </td>
            </tr>
        </tbody>
            
            
        </table>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider').nivoSlider({
                controlNav: false,
                directionNav: false,
                pauseTime: 5000,
                pauseOnHover: false
            });
        });
    </script>


