@{ 
    Layout = "~/Views/Shared/_Error.cshtml";
}

@section TitleContent {

	Error

}

    <h1 class="mt80">Error</h1>
    <h2>An error has occurred and has been logged. This should be fixed within 24 hours. </h2>


