@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section TitleContent {
    Extracurricular Activities
}
@section ExtraHeader {

    <style type="text/css">
        .style1 {
            background-color: #F7F7F7;
        }
    </style>

}

<div class="nav_side mt20">
    <ul>
        <li><a href="/secondary">About</a></li>
        <li><a class="selected" href="/secondary/eca">Extracurricular Activities</a></li>
    </ul>
</div>
<div class="col_2 ml20 mt10">
    <div class="breadcrumb">
        <a href="/">Home</a> / <a href="/Schools">Schools</a> / <a href="/secondary">Secondary</a> / Extracurricular Activities
    </div>
    <h1>Extracurricular Activities</h1>
    <table class="semester">
        <thead>
            <tr><td>Day</td><td>Activities</td><td>Venue</td><td>Time</td><td>Teachers-in-charge</td></tr>
        </thead>
        <tbody>
            <tr>
                <td class="style1" rowspan="6">Monday</td>
                <td class="style1">Badminton [ 1 ]</td>
                <td class="style1">Hall</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Willie Liew</td>
            </tr>
            <tr>
                <td class="style1">Athletic</td>
                <td class="style1">Field</td>
                <td class="style1">
                    4.00 - 5.15pm
                </td>
                <td class="style1">Donny ak Man</td>
            </tr>
            <tr>
                <td class="style1">St. John&#39;s Ambulance</td>
                <td class="style1">Room C24</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Lai Pak Shin</td>
            </tr>
            <tr>
                <td class="style1">Chess</td>
                <td class="style1">Canteen</td>
                <td class="style1">
                    4.00 - 5.00pm
                </td>
                <td class="style1">Raymond Ho</td>
            </tr>
            <tr>
                <td class="style1">Choral Speaking</td>
                <td class="style1">Lecture Theatre</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Maggie Mathew </td>
            </tr>
            <tr>
                <td class="style1">Newsletter</td>
                <td class="style1">AVA</td>
                <td class="style1">
                    4.00 - 5.00pm
                </td>
                <td class="style1">Elaine Chung</td>
            </tr>
            <tr>
                <td rowspan="8">Tuesday</td>
                <td>Dance</td>
                <td>Room C32</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Lim Cher Kun
                </td>
            </tr>
            <tr><td>Computer</td><td>Computer Room</td><td>4.00 - 5.00pm</td><td>David Ho</td></tr>
            <tr>
                <td>Table Tennis [ 1 ]</td>
                <td>Room C31</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Susanna
                    Chong
                </td>
            </tr>
            <tr><td>Moral Club</td><td>Room C24&nbsp;</td><td>4.00 - 5.00pm</td><td>Mikit Nyayig</td></tr>
            <tr><td>Japanese</td><td>AVA</td><td>4.00 - 5.00pm</td><td>Diana Leong</td></tr>
            <tr><td>Scouts</td><td>Lecture Theatre</td><td>4.00 - 5.30pm</td><td>Jeffery Wee </td></tr>
            <tr><td>Badminton [ 2 ]</td><td>Hall</td><td>4.00 - 5.00pm</td><td>Zurainy Ehsan</td></tr>
            <tr>
                <td>Basketball [ Boys ]</td>
                <td>Basketball Court</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Linus Lee
                </td>
            </tr>
            <tr>
                <td class="style1" rowspan="10">Wednesday</td>
                <td class="style1">
                    Table Tennis [
                    2 ]
                </td>
                <td class="style1">Room C31</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Lim Hui Fen</td>
            </tr>
            <tr>
                <td class="style1">Lawn Tennis</td>
                <td class="style1">BDC Court</td>
                <td class="style1">4.15 - 5.15pm</td>
                <td class="style1">Lim Chee Seng</td>
            </tr>
            <tr>
                <td class="style1">Swimming</td>
                <td class="style1">Stampark</td>
                <td class="style1">3.45 - 5.00pm</td>
                <td class="style1">Kenny Liong </td>
            </tr>
            <tr>
                <td class="style1">Bowling</td>
                <td class="style1">Crystal Bowl</td>
                <td class="style1">4.30 - 6.00pm</td>
                <td class="style1">Ting Huong Seng </td>
            </tr>
            <tr>
                <td class="style1">Taekwondo</td>
                <td class="style1">Hall</td>
                <td class="style1">
                    4.00 - 5.00pm
                </td>
                <td class="style1">Bibiana Ng / Selvalaxmy </td>
            </tr>
            <tr>
                <td class="style1">Football [ Junior ]</td>
                <td class="style1">Field</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Soranam / Halimah </td>
            </tr>
            <tr>
                <td class="style1">Photography</td>
                <td class="style1">AVA</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Then Ik Wei</td>
            </tr>
            <tr>
                <td class="style1">Captainball</td>
                <td class="style1">Multi-purpose Court</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Elaine Chung </td>
            </tr>
            <tr>
                <td class="style1">Choir / Music</td>
                <td class="style1">Primary Music Room</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">
                    Anthony Wong / Jee Sing
                    Sing
                </td>
            </tr>
            <tr>
                <td class="style1">Basketball [ Girls ]</td>
                <td class="style1">Basketball Court</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Carrie Chai</td>
            </tr>
            <tr>
                <td rowspan="6">Thursday</td>
                <td>Science Club</td>
                <td>Biology Lab</td>
                <td>
                    4.00 -
                    5.00pm
                </td>
                <td>Anita Martin / Wong Jade Chian </td>
            </tr>
            <tr><td>Inventors Club</td><td>Sc Lab</td><td>4.00 - 5.00pm</td><td>Jong Chung Hian </td></tr>
            <tr>
                <td>Interact Club</td>
                <td>Lecture Theatre</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Felicia
                    Siaw / Joey Tan
                </td>
            </tr>
            <tr>
                <td>Religious Class (YCS)</td>
                <td>3B Classroom</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Camillus Choo / Jeffery Wee
                </td>
            </tr>
            <tr><td>School Magazine</td><td>AVA</td><td>4.00 - 5.00pm</td><td>Lily Chai</td></tr>
            <tr>
                <td>Red Crescent</td>
                <td>Room C24</td>
                <td>4.00 - 5.00pm</td>
                <td>
                    Normi Sawawi /
                    Anuar / Ting Huong Seng
                </td>
            </tr>
            <tr>
                <td class="style1" rowspan="6">Friday</td>
                <td class="style1">Art Club</td>
                <td class="style1">Art Room</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Chai Fook Vui </td>
            </tr>
            <tr>
                <td class="style1">Debating Club</td>
                <td class="style1">AVA</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Lucilla Chin / Josephine</td>
            </tr>
            <tr>
                <td class="style1">ISCF</td>
                <td class="style1">Room C24</td>
                <td class="style1">
                    4.00 - 5.00pm
                </td>
                <td class="style1">Diana Leong</td>
            </tr>
            <tr>
                <td class="style1">Yoga</td>
                <td class="style1">Room C33</td>
                <td class="style1">
                    4.00 - 5.00pm
                </td>
                <td class="style1">Nikki Ting</td>
            </tr>
            <tr>
                <td class="style1">Badminton [ 3 ]</td>
                <td class="style1">Hall</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">Siti Aishah</td>
            </tr>
            <tr>
                <td class="style1">Leo Club</td>
                <td class="style1">Lecture Theatre</td>
                <td class="style1">4.00 - 5.00pm</td>
                <td class="style1">
                    Emily Jong / Chong Chiao
                    Li
                </td>
            </tr>
            <tr>
                <td rowspan="2">Saturday</td>
                <td>Taekwondo</td>
                <td>Hall</td>
                <td>10.30 - 12.00pm</td>
                <td>
                    Phang Cheng Ling / Lucy Lita
                </td>
            </tr>
            <tr>
                <td>Wushu</td>
                <td>Dome/Foyer</td>
                <td>10.30 - 12.00pm</td>
                <td>
                    Felicia Toh /
                    Dayang Lenora
                </td>
            </tr>

        </tbody>
    </table>

</div>


